h1, h2 {
    color: #005677;
    background-color: #c4c4c4;

}

body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Cps4CPZJ0CIJOizWi9YtsiqHVFq8UaaixQ&usqp=CAU');
    background-repeat: no-repeat;
    background-size:cover;
}

