#todo {
    font-family:Arial, Helvetica, sans-serif;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 1px 1px;
    box-sizing: border-box;

}

#idioma {
    display: flex;
    flex-direction: row;
}

li {
    margin-left: 20px;
}

#caja1 {
    display: flex;
}

.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    color: white;
    background-color: orange;

}

#opciones {
    display: flex;
    flex-direction: row;
}

.cajagrande {
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

h1 {
    background-color: white;
}